/**
 *
 * {{ properCase name }}List
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import { Table } from 'antd';

const getColumns = (actionColumn) => {
  const columns = [
    {
      title: 'ID',
      dataIndex: 'id',
      key: 'id',
    },
{{#each (transformInArray properties)}}
    {
      title: '{{ titleCase this }}',
      dataIndex: '{{ camelCase this }}',
      key: '{{ camelCase this }}',
    },
{{/each}}
  ];
  if (actionColumn) {
    columns.push({
      title: 'Actions',
      key: 'actions',
      render: actionColumn,
    });
  }
  return columns;
};

const {{ properCase name }}List = ({ {{ camelCase name }}s, actionColumn }) => {
  const columns = getColumns(actionColumn);
  return (
    <div className="{{ camelCase name }}-list">
      <Table
        size="middle"
        dataSource={ {{ camelCase name }}s.map(({{ camelCase name }}) => ({
          ...{{ camelCase name }},
          key: {{ camelCase name }}.id,
          rowKey: {{ camelCase name }}.id,
        }))}
        columns={columns}
      />
    </div>
  );
};

{{ properCase name }}List.propTypes = {
  {{ camelCase name }}s: PropTypes.array.isRequired,
  actionColumn: PropTypes.func,
};

export default {{ properCase name }}List;
