/**
*
* {{ properCase name }}
*
*/

import React, { Component } from 'react';
import PropTypes from 'prop-types';
import './style.less';

class {{ properCase name }} extends Component {
  render() {
    return (
      <div className="{{ dashCase name }}">

      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};