/**
 *
 * {{ properCase name }}Form
 *
 */

import React, { Component } from 'react';
import PropTypes from 'prop-types';
import { Button, Form, Input, Row } from 'antd';
import { compose } from 'redux';

const FormItem = Form.Item;

class {{ properCase name }}Form extends Component {
  componentDidMount() {
    this.props.form.validateFields();
  }
  getError(prop) {
    const { isFieldTouched, getFieldError } = this.props.form;
    return isFieldTouched(prop) && getFieldError(prop);
  }
  hasErrors() {
    const errors = this.props.form.getFieldsError();
    return Object.keys(errors).some((key) => errors[key]);
  }
  handleCancel = () => {
    this.props.onCancel();
  };
  handleSubmit = () => {
    if (this.hasErrors()) {
      return;
    }
    const {{ camelCase name }}Data = this.props.{{ camelCase name }}
      ? { ...this.props.form.getFieldsValue(), id: this.props.{{ camelCase name }}.id }
      : this.props.form.getFieldsValue();
    this.props.onSubmit({{ camelCase name }}Data);
    return false;
  };
  render() {
    const { getFieldDecorator } = this.props.form;
    const valid = !this.hasErrors();
    const { loading } = this.props;
{{#each (transformInArray properties)}}
    const {{ camelCase this }}Error = this.getError('{{ camelCase this }}');
{{/each}}

    return (
      <div className="{{ camelCase name }}-form">
        <Form
          onSubmit={(ev) => {
            ev.preventDefault();
            this.handleSubmit();
          }}
          className="{{ camelCase name }}-form"
        >
          {{#each (transformInArray properties) }}
          <FormItem
            validateStatus={ {{ camelCase this }}Error ? 'error' : ''}
            help={ {{ camelCase this }}Error || ''}
          >
            {getFieldDecorator('{{ camelCase this}}', {
              rules: [{ required: true, message: 'Please insert a {{ titleCase this }}!' }],
            })(<Input placeholder="{{ titleCase this }}" />)}
          </FormItem>
          {{else}}
              <p class="empty">No content</p>
          {{/each}}
          <Row type="flex" justify="end">
            <Button onClick={() => this.handleCancel()}>Cancel</Button>
            <Button
              loading={loading}
              disabled={!valid}
              onClick={() => this.handleSubmit()}
              type="primary"
            >
              {this.props.{{ camelCase name }} ? 'Edit' : 'Create'}
            </Button>
          </Row>
        </Form>
      </div>
    );
  }
}

{{ properCase name }}Form.propTypes = {
  form: PropTypes.object.isRequired,
  {{ camelCase name }}: PropTypes.object,
  onCancel: PropTypes.func.isRequired,
  onSubmit: PropTypes.func.isRequired,
  loading: PropTypes.bool.isRequired,
};

const withFormCreate = Form.create({
  mapPropsToFields({ {{ camelCase name }} }) {
    return {{ camelCase name }}
      ? {
    {{#each (transformInArray properties)}}
        {{this}}: Form.createFormField({ value: {{ camelCase ../name }}.{{this}} }),
    {{/each}}
      }
      : {};
  },
});
export default compose(withFormCreate)({{ properCase name }}Form);
